@font-face {
    font-family: Urbanist_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto_regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto_semibold;
    src: url("../fonts/Roboto-SemiBold.ttf");
}

@font-face {
    font-family: Roboto_medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E2E4;
    letter-spacing: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 48px;
    margin: 0 auto;
    align-items: center;
    margin-top: 12px;
    text-align: center;
}

.logo_nav {
    display: flex;
    height: 24px;
    text-align: center;
    align-items: center;
}

.navigation_item {
    margin-left: 30px;
    text-decoration: none;
    color: #69665E;
    font-size: 20px;
    font-family: Urbanist_bold;
}

.first_item {
    margin-left: 33px;
}


.header_btn {
    width: 163px;
    height: 48px;
    border-radius: 8px;
    background-color: #872E22;
    color: #ffffff;
    font-family: Urbanist_bold;
    font-size: 20px;
    border: none;
}

.header_logo {
    margin-top: 7px;
}


.about {
    display: flex;
    width: 1120px;
    margin: 0 auto;
    margin-top: 96px;
    justify-content: space-between;
}

.about_info {
    margin-top: 192px;
}

.title {
    font-family: Urbanist_bold;
    font-size: 56px;
    color: #0E0803;
}

.title_discript {
    font-family: Roboto_regular;
    font-size: 24px;
    color: #69665E;
    margin-top: 52px;
    margin-bottom: 29px;
}

.sweets_to_holiday {
    width: 1120px;
    margin: 0 auto;
    margin-top: 96px;
}

.konf {
    background-color: #ffffff;
    border-radius: 32px;
    width: 352px;
    height: 482px;
    align-items: center;
    margin-bottom: 32px;
}

.sweets_title {
    font-family: Urbanist_bold;
    font-size: 56px;
    color: #0E0803;
    text-align: center;
    margin-bottom: 73px;
}

.name_sweet {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 32px;
    font-family: Roboto_regular;
    font-size: 24px;
    color: #0E0803;
}

.zakaz_btn {
    margin-left: 94px;
}

.sweets_first {
    display: flex;
    justify-content: space-between;
}

.why {
    width: 1120px;
    margin: 0 auto;
}

.why_title {
    font-family: Urbanist_bold;
    font-size: 56px;
    color: #0E0803;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 72px;
}

.card {
    width: 351px;
    height: 352px;
    border-radius: 32px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.why_img {
    margin-top: 35px;
    margin-bottom: 40px;
}

.cause {
    font-family: Roboto_semibold;
    font-size: 24px;
    color: #0E0803;
    margin-bottom: 37px;
}

.cause_discript {
    font-family: Roboto_regular;
    font-size: 24px;
    color: #69665E;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.number {
    font-family: Urbanist_bold;
    font-size: 48px;
    color: #0E0803;
    margin-bottom: 14.6px;
}

.number_discript {
    font-family: Roboto_regular;
    font-size: 24px;
}

.what_number {
    margin-top: 128px;
    text-align: center;
}

.design {
    display: flex;
    width: 1120px;
    margin: 0 auto;
    /* align-items: center; */
    margin-top: 126px;
}

.design_form {
    width: 399px;
    margin-left: 96px;
    margin-top: 115px;
}

.form_title {
    font-family: Urbanist_bold;
    font-size: 20px;
    color: #0E0803;
}

.form {
    width: 399px;
    height: 55px;
    color: #69665E;
    font-family: Roboto_regular;
    font-size: 16px;
    background-color: #D9D9D9;
    padding-left: 16px;
    border: solid 1px black;
}

.form_photo {
    background: url("../img/photo_emj.png") no-repeat 16px 15px;
    padding-left: 56px;
    width: 359px;
    margin-bottom: 0px;
}

.form_btn {
    margin-top: 28px;
}

.form_number {
    margin-top: -2px;
    margin-bottom: 30px;
}

.form_name {
    margin-top: 33px;
    margin-bottom: 32px;
}

.process {
    width: 1120px;
    margin: 0 auto;
    text-align: center;
    margin-top: 96px;
}

.process_title {
    font-family: Urbanist_bold;
    font-size: 38px;
    color: #0E0803;
    margin-top: -2px;
}

.steps {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.step {
    background-color: #ffffff;
    border-radius: 32px;
    width: 256px;
    height: 245px;
    padding-top: 17px;
}

.step_number {
    font-family: Urbanist_bold;
    font-size: 48px;
    color: #0E0803;
    margin-bottom: 32px;
}

.step_title {
    font-family: Roboto_semibold;
    font-size: 24px;
    color: #0E0803;
    margin-bottom: 32px;
}

.stp_discript {
    color: #69665E;
    font-family: Roboto_regular;
    font-size: 16px;
}

.comments {
    width: 1120px;
    margin: 0 auto;
    margin-top: 96px;
}

.comments_title {
    font-family: Urbanist_bold;
    font-size: 38px;
    color: #0E0803;
    text-align: center;
}

.coms {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

.com {
    width: 321px;
    height: 344px;
    padding-left: 32px;
    padding-top: 16px;
    background-color: #ffffff;
    border-radius: 32px;
}

.ava {
    margin-bottom: 27px;
}

.comment {
    font-family: Roboto_regular;
    font-size: 24px;
    color: #0E0803;
    margin-bottom: 52px;
}

.author_com {
    margin-top: 27px;
    font-family: Roboto_medium;
    font-size: 16px;
    color: #0E0803;
}

.bid {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    margin-top: 96px;
}

.bid_form_title {
    font-family: Urbanist_bold;
    font-size: 24px;
    color: #0E0803;
    margin-bottom: 22px;
}

.bid_discript {
    font-family: Roboto_regular;
    font-size: 20px;
    color: #696969;
}

.bid_form {
    width: 426px;
    height: 53px;
    border: solid 1px black;
    background-color: #D9D9D9;
    margin-top: 32px;
    font-family: Roboto_regular;
    font-size: 16px;
    padding-left: 19px;
}

.bid_form_name {
    width: 426px;
    height: 54px;
}

.bid_form_number {
    width: 426px;
    padding-left: 20px;
}

.bid_form_photo {
    padding-left: 22px;
}

.our_blog {
    width: 1120px;
    margin: 0 auto;
    margin-top: 96px;
}

.blog_title {
    font-family: Urbanist_bold;
    font-size: 56px;
    color: #0E0803;
    text-align: center;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 352px;
    align-items: center;
    text-align: center;
    margin-top: 65px;
}

.name_article {
    font-family: Roboto_regular;
    font-size: 24px;
    color: #0E0803;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 32px;
}

.where {
    display: flex;
    width: 1120px;
    margin: 0 auto;
    margin-top: 96px;
    align-items: center;
    justify-content: space-between;
}

.contact_title {
    font-family: Urbanist_bold;
    font-size: 32px;
    color: #0E0803;
    margin-bottom: 32px;
}

.contact_discript {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803;
    margin-bottom: 32px;
}

.contacts {
    margin-top: 5px;
}

.map_contacct_discript {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803;
    margin-bottom: 13px;
}

.call {
    width: 1120px;
    background-color: #9AB4B0;
    border-radius: 32px;
    margin: 0 auto;
    margin-top: 96px;
    height: 220px;
}

.call_title {
    font-family: Urbanist_bold;
    font-size: 24px;
    color: #0E0803;
    padding-top: 64px;
    margin-left: 96px;
    margin-bottom: 15px;
}

.call_box {
    width: 946px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 96px;
}

.call_discript {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803;
}

.footer {
    margin-top: 96px;
    background-color: #9AB4B0;
    display: flex;
    padding-left:392px;
    padding-top: 5px;
    height: 184px;
}

.footer_logo {
    margin-bottom: 28px;
}

.footer_logo_section {
    margin-top: 7.5px;
}

.footer_logo_section_discript {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803;
    width: 256px;
}

.footer_logo_section_info {
    margin-left: 35.14px;
    margin-top: 3px;
}

.info_footer_title {
    font-family: Urbanist_bold;
    font-size: 20px;
    color: #0E0803;
    margin-bottom: 32px;
}

.info_footer {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803;
    margin-bottom: 16px;
}

.footer_logo_section_support {
    margin-left: 142px;
    margin-top: 3px;
}

.social_title {
    font-family: Urbanist_bold;
    font-size: 20px;
    color: #0E0803;
    margin-bottom: 32px;
}

.footer_logo_section_social {
    margin-top: 3px;
    margin-left: 100px;
}

.copyrite {
    text-align: center;
    padding-top: 17px;
    background-color: #9AB4B0;
    height: 64px;
}

.copyrite_info {
    font-family: Roboto_regular;
    font-size: 16px;
    color: #0E0803; 
}

.three {
    margin-left: 110px;
}

.eight {
    margin-left: 198px;
}

.one {
    margin-left: 138px;
}

@media (max-width: 390px) {
    .about, .sweets_to_holiday, .why, .design, .process, .comments, .bidm, .our_blog, .where, .call, .logo_nav, .navigation {
        flex-direction: column;
        align-items: left;
        width: 390px;
        margin-left: 0px;
    }
    
    .header {
        width: 390px;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-left: 60px;
    }

    .btn {
        margin-top: 60px;
        align-items: center;
    }

    .sweets_first {
        flex-direction: column;
        margin-bottom: 32px;
        margin-left: 90px;
        width: 390px;
        align-items: center;
    }

    .sweets_title {
        margin-left: 90px;
        width: 390px;
    }

    .title_discript {
        width: 380px;
    }

    .about_img {
        margin-top: 32px;
        width: 390px;
        height: 390px;
    }

    .why_title {
        margin-left: 90px;
        width: 390px;
    }
    
    .cards {
        flex-direction: column;
        margin-left: 90px;
        width: 390px;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .numbers {
        margin-top: 96px;
        flex-direction: column;
        margin-left: 90px;
        width: 390px;
        align-items: center;
    }

    .what_number {
        margin: 0 auto;
        margin-bottom: 48px;
    }
    
    .design {
        flex-direction: column;
        margin-left: 90px;
        width: 390px;
        align-items: center;
        margin: 0 auto;
    }
    
    .design_form {
        margin-left: 270px;
    }

    .process {
        flex-direction: column;
        margin-left: 90px;
        width: 390px;
        align-items: center;
    }

    .steps {
        flex-direction: column;
        width: 390px;
        align-items: center;
    }

    .step {
        margin-bottom: 32px;
    }

    .comments {
        flex-direction: column;
        width: 390px;
        align-items: center;
        margin: 0 auto;
        margin-left: 90px;
    }

    .coms {
        flex-direction: column;
        width: 390px;
        align-items: center;
    }

    .com {
        margin-bottom: 32px;
    }

    .our_blog {
        flex-direction: column;
        width: 390px;
        align-items: center;
        text-align: center;
        margin-left: 90px;
    }

    .articles {
        flex-direction: column;
        width: 390px;
        align-items: center;

    }

    .bid {
        flex-direction: column;
        width: 390px;
        align-items: center;
    }

    .design_img {
        margin-top: 32px;
    }

    .call {
        flex-direction: column;
        width: 550px;
        align-items: center;
    }

    .call_discript {
        width: 390px;
        margin-bottom: 16px;
    }

    .call_box {
        flex-direction: column;
        width: 400px;
        align-items: center;
    }

    .footer {
        width: 550px;
        align-items: left;
        padding: 0;
        margin: 0;
        margin-top: 96px;
        height: 250px;
    }

    .footer_logo_section,
    .footer_logo_section_info,
    .footer_logo_section_support,
    .footer_logo_section_social {
        font-size: 8px;
        width: 80px;
        margin-left: 24px;
        padding: 0;
    }

    .footer_logo_section {
        margin-right: 118px;
    }

    .copyrite {
        width: 550px;
    }
}